@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #5f6FFF;
}

.grid-cols-auto {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

* {
    font-family: 'Outfit', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: white;
    color: #1f2937;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
